#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        screen_shoy {
            bindings = <&kp LS(LA(LC(F4)))>;
            key-positions = <31 32>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        dev-tool {
            bindings = <&kp LA(LG(I))>;
            key-positions = <8 9>;
        };

        q {
            bindings = <&kp Q>;
            key-positions = <10 11>;
        };

        desktop {
            bindings = <&kp C_AC_DESKTOP_SHOW_ALL_WINDOWS>;
            key-positions = <19 20>;
        };

        right-click {
            bindings = <&mkp RCLK>;
            key-positions = <34 35>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp LEFT_SHIFT  &kp W        &kp E            &kp R             &kp T                                     &kp U            &kp I  &kp O      &kp P                       &kp MINUS
&kp A           &kp S        &kp D            &kp F             &kp G      &none             &kp B        &kp H            &kp K  &kp L      &mt LEFT_CONTROL SEMICOLON  &kp GRAVE
&kp Z           &kp X        &kp C            &kp V             &kp J      &kp SQT           &kp Y        &kp N            &kp M  &kp COMMA  &kp PERIOD                  &kp SLASH
&mkp LCLK       &kp AT_SIGN  &kp EXCLAMATION  &kp LEFT_COMMAND  &kp SPACE  &kp LEFT_ALT      &lt 2 ENTER  &lt 1 BACKSPACE                                                &kp POUND
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        ARROW-SYMBOL {
            bindings = <
&none   &none           &none           &none            &none                                          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE       &kp PERCENT  &kp CARET
&none   &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &none    &none                 &kp UNDERSCORE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DOLLAR     &kp HASH     &kp RIGHT_SHIFT
&none   &none           &kp DOWN_ARROW  &none            &none    &none                 &kp EQUAL       &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &kp AMPERSAND  &kp BSLH     &none
&trans  &trans          &trans          &kp LEFT_ALT     &kp TAB  &kp LEFT_COMMAND      &trans          &trans                                                                   &none
            >;

            sensor-bindings = <&inc_dec_kp LG(PLUS) LG(MINUS)>;
        };

        FUNCTIONS-NUM {
            bindings = <
&trans  &kp F1  &kp F2   &kp F3        &trans                                    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp ASTERISK     &kp EQUAL
&kp F4  &kp F5  &kp F6   &kp F7        &trans   &trans                &kp PLUS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp SLASH        &kp RIGHT_SHIFT
&kp F8  &kp F9  &kp F10  &kp F11       &kp F12  &trans                &kp MINUS  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0  &none
&trans  &trans  &trans   &kp LEFT_ALT  &trans   &kp LEFT_COMMAND      &trans     &trans                                                              &none
            >;
        };
    };
};
